<a href="https://colab.research.google.com/github/LeVargas97/LeoCode/blob/main/Atividades_Aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
data = {
    'Nome': ['Carlos', 'Lucia', 'Rafael'],
    'Nota1':[8.0, 7.5, 9.0],
    'Nota2':[8.5, 7.0, 9.5]
    }
df = pd.DataFrame(data)
print(df)

     Nome  Nota1  Nota2
0  Carlos    8.0    8.5
1   Lucia    7.5    7.0
2  Rafael    9.0    9.5

In [8]:
df['NotaFinal'] = (df['Nota1'] + df['Nota2']) / 2
print(df)

     Nome  Nota1  Nota2  NotaFinal
0  Carlos    8.0    8.5       8.25
1   Lucia    7.5    7.0       7.25
2  Rafael    9.0    9.5       9.25

In [9]:
df = df.drop('Nota2', axis=1)
print(df)

     Nome  Nota1  NotaFinal
0  Carlos    8.0       8.25
1   Lucia    7.5       7.25
2  Rafael    9.0       9.25

produto a,b,c
Valores 10, 20, 15
preço 5.0, 10.0, 7.0

In [12]:
data_produto = {
    'Produto': ['A', 'B', 'C'],
    'Quantidade': [10, 20, 15],
    'Preço': [5.0, 10.0, 7.0]
}
df_produto = pd.DataFrame(data_produto)
print(df_produto)

  Produto  Quantidade  Preço
0       A          10    5.0
1       B          20   10.0
2       C          15    7.0

In [14]:
df_produto['Valor_Total'] = df_produto['Quantidade'] * df_produto['Preço']

print(df_produto)

valor_total_vendas = df_produto['Valor_Total'].sum()

print(f'Valor total das vendas: {valor_total_vendas}')

  Produto  Quantidade  Preço  Valor_Total
0       A          10    5.0         50.0
1       B          20   10.0        200.0
2       C          15    7.0        105.0
Valor total das vendas: 355.0

In [15]:
produto_maior_venda = df_produto.loc[df_produto['Valor_Total'].idxmax()]

print(f'Produto com maior total de vendas: {produto_maior_venda["Produto"]}')

Produto com maior total de vendas: B