<a href="https://colab.research.google.com/github/LeVargas97/LeoCode/blob/main/Aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd

In [20]:
data = {
    'Nome': ['Ana', 'João', 'Maria'],
    'Idade': [23, 35, 29]
       }
df = pd.DataFrame(data)
print(df)

    Nome  Idade
0    Ana     23
1   João     35
2  Maria     29

In [16]:
array1 = np.array([[1, 2, 3], [4, 5, 6]])

df = pd.DataFrame(array1,columns=['A',"B","C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [17]:
print(df.head())
print("########################")
print(df.tail())
print("########################")
print(df.describe())

   A  B  C
0  1  2  3
1  4  5  6
########################
   A  B  C
0  1  2  3
1  4  5  6
########################
             A        B        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [25]:
#selecionar coluna
#selecionar uma coluna
print(df['Nome'])

#selecionar varias colunas
print(df[['Nome','Idade']])

#selecionar uma linha
print(df.loc[0])

#selecionar varias linhas
print(df.loc[[0,1]])

#selecionar uma linha por
print(df.iloc[0])

#selecionar uma celula especifica
print(df.at[0,'Nome'])

0      Ana
1     João
2    Maria
Name: Nome, dtype: object
    Nome  Idade
0    Ana     23
1   João     35
2  Maria     29
Nome     Ana
Idade     23
Name: 0, dtype: object
   Nome  Idade
0   Ana     23
1  João     35
Nome     Ana
Idade     23
Name: 0, dtype: object
Ana

In [26]:
#Adicionar Coluna
df['Altura'] = [1.65, 1.80, 1.7]
print(df)

    Nome  Idade  Altura
0    Ana     23    1.65
1   João     35    1.80
2  Maria     29    1.70

In [27]:
#Remover Coluna
df = df.drop('Altura', axis=1)
print(df)

    Nome  Idade
0    Ana     23
1   João     35
2  Maria     29

In [28]:
#Adicionar 2 a todas idades
#df['Idade'] = df['Idade'] + 2
print(df)

    Nome  Idade
0    Ana     25
1   João     37
2  Maria     31

In [30]:
#aplicar uma função NumPy
df['Idade'] = np.sqrt(df['Idade'])
print(df)

    Nome     Idade
0    Ana  2.236068
1   João  2.466326
2  Maria  2.359611