<a href="https://colab.research.google.com/github/LeVargas97/LeoCode/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

In [10]:
#Array unidimensional
arr1 = np.array([1, 2, 3, 4, 5])

In [11]:
print(arr1)

[1 2 3 4 5]

In [12]:
#Array bidimensional
arr2 = np.array([[1, 2, 3], [4, 5, 6]])

In [13]:
print(arr2)

[[1 2 3]
 [4 5 6]]

In [14]:
#Array tipado
arr3 = np.array([1, 2, 3, 4, 5], dtype=np.float16)

In [15]:
print(arr3)

[1. 2. 3. 4. 5.]

In [16]:
#Array de zeros feito para Inicializar variáveis em simulações ou cálculos que precisam de um ponto de partida neutro.
arr_zeros = np.zeros((2, 3))
print(arr_zeros)

[[0. 0. 0.]
 [0. 0. 0.]]

In [17]:
arr_ones = np.ones((3, 2))
print(arr_ones)

[[1. 1.]
 [1. 1.]
 [1. 1.]]

In [18]:
arr_random = np.random.rand(2, 3)
print(arr_random)

[[0.25954976 0.28883987 0.01089725]
 [0.82480709 0.82871136 0.60439195]]

In [24]:
#Multiplicação de arrays
array1 = np.array([1,2,3,4,5])
array2 = np.array([6,7,8,9,10])

resultadoMultiplicação = np.dot(array1, array2)
print ("Resultado da Multiplicação do Array é: " + str(resultadoMultiplicação))

Resultado da Multiplicação do Array é: 130

In [26]:
transposed_arr = arr2.T
print(transposed_arr)

[[1 4]
 [2 5]
 [3 6]]

In [35]:

categoria_planeta = input("Digite o nome do Planeta: ")


if  categoria_planeta[0] == "P" and categoria_planeta == "Plutao":
 print("Plutao é o planeta")
else:
  print("Não é Planeta Plutao")

Digite o nome do Planeta: Planeta
Não é Planeta Plutao

In [55]:
idades = np.array([10,20,30,40,50,60])

media_idades = np.mean(idades)

#print(media_idades)

In [43]:

media_idades = np.max(idades)

print(media_idades)

60

In [44]:
media_idades = np.min(idades)

print(media_idades)

10

In [56]:
idadeMaior = idades[idades > 30]

print(idadeMaior)

[40 50 60]

In [61]:
media_idades =idades + 2

print(media_idades)

[12 22 32 42 52 62]

In [62]:
media_idades = np.median(idades)

print(media_idades)

35.0

# Nova seção